/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Root Variables */
:root {
  --main-color: #fff8e1; /* Krem lembut untuk latar belakang */
  --primary-color: #ffcc00; /* Kuning cerah */
  --secondary-color: #00a8e8; /* Biru cerah */
  --accent-color: #f72585; /* Pink cerah */
  --background-color: #2d2d2d; /* Hitam keabu-abuan */
  --text-color: #ffffff; /* Putih */
  --highlight-color: #06d6a0; /* Hijau mint untuk detail */
  --font-family: "Poppins", sans-serif;
}

/* Body */
body {
  background-color: var(--main-color);
  font-family: var(--font-family);
  color: var(--text-color);
  line-height: 1.6;
}

/* Container */
.container-box {
  max-width: 90%;
  margin: 20px auto;
  padding: 20px;
  background-color: var(--background-color);
  border: 5px solid var(--primary-color);
  border-radius: 10px;
  box-shadow: 5px 5px 0px var(--secondary-color),
    -5px -5px 0px var(--accent-color);
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 5px 5px 0px var(--accent-color);
}

nav .logo {
  font-size: 24px;
  font-weight: 700;
  color: var(--background-color);
}

nav ul {
  display: flex;
  list-style: none;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  font-size: 18px;
  color: var(--background-color);
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

nav ul li a:hover {
  color: var(--text-color);
}

/* Menu Toggle (Hamburger) Styles */
.menu-toggle {
  display: none; /* Hidden by default */
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30px;
  height: 25px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  color: var(--background-color);
  transition: ease-in-out 0.3s;
}

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: var(--background-color);
  transition: all 0.3s ease-in-out;
}

.menu-toggle .close {
  display: none;
  font-size: 30px;
  color: var(--background-color);
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out;
}

/* Toggle to display the menu */
.menu-toggle.active .bar:nth-child(1) {
  transform: rotate(45deg);
  transition: all 0.3s ease-in-out;
  position: absolute;
}

.menu-toggle.active .bar:nth-child(2) {
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.menu-toggle.active .bar:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.3s ease-in-out;
  position: absolute;
}

/* Main */
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  gap: 20px;
}

main.nav-active {
  margin-top: 150px; /* Menyesuaikan dengan tinggi menu navigasi */
}

/* Profile Section */
.container-profile {
  display: flex;
  background-color: var(--primary-color);
  border-radius: 10px;
  box-shadow: 5px 5px 0px var(--secondary-color);
}
.profile-nama {
  margin-top: 5rem;
  text-align: center;
  flex: 1;
  margin-right: 20px;
}

.profile-nama h1 {
  font-size: 36px;
  color: var(--background-color);
  margin-bottom: 10px;
}

.profile-nama p {
  font-size: 18px;
  color: var(--accent-color);
}

/* Foto Portofolio */
.foto-portofolio {
  margin: 3rem;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foto-portofolio img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid var(--highlight-color);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.foto-portofolio img:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 0px var(--secondary-color),
    -5px -5px 0px var(--accent-color);
}

/* Bagian About */
.about-section {
  background-color: var(--secondary-color);
  color: var(--background-color);
  padding: 40px 20px;
  margin-top: 3rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px 0px var(--accent-color),
    -5px -5px 0px var(--primary-color);
}

.about-section h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: var(--text-color);
}

.about-section p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 15px;
}

/* Bagian Skills */
.skills {
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 40px 20px;
  margin-top: 3rem;
  border-radius: 10px;
  text-align: center;

  box-shadow: 5px 5px 0px var(--secondary-color),
    -5px -5px 0px var(--accent-color);
}

.skills h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: var(--text-color);
}

.skills ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  margin-bottom: 15px;
}

.skills ul li img {
  width: 110px;
  height: 110px;
}
.skills ul li img:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

/* Bagian Project */
.project {
  background-color: var(--secondary-color);
  color: var(--background-color);
  padding: 40px 20px;
  margin-top: 3rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px 0px var(--accent-color);
}

.project h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: var(--text-color);
}

.project-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.project-item {
  background-color: var(--secondary-color);
  color: var(--background-color);
  padding: 40px 20px;
  margin-top: 3rem;
  border-radius: 10px;
  text-align: center;
  border: #ffffff 2px solid;
  box-shadow: 5px 5px 0px var(--accent-color),
    -5px -5px 0px var(--primary-color);
}

/* Bagian contact */
.contact {
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 40px 20px;
  margin-top: 3rem;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 5px 0px var(--secondary-color),
    -5px -5px 0px var(--accent-color);
}
.contact h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: var(--text-color);
}

.contact p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 15px;
  text-decoration: none;
}

.contact a {
  font-size: 16px;
  color: #f72585;
  text-decoration: none;
}

/* Bagian Footer */

footer {
  margin-top: 30px;
  font-size: 10px;
}

/* Responsiveness */
@media (max-width: 768px) {
  nav {
    position: relative;
  }
  nav .nav-links {
    display: none;
    flex-wrap: wrap;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    z-index: 100;
  }

  nav .nav-links.active {
    display: flex;
    margin-top: 1.3rem;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
  }

  .menu-toggle {
    display: flex;
    transition: all 0.3s ease-in-out;
  }

  .menu-toggle.active .close {
    display: none;
  }

  main {
    margin-top: 1rem;
    position: relative;
    z-index: 1;
  }

  /* Aturan untuk main saat kelas 'active' diterapkan */
  main.active {
    margin-top: 80px;
    transition: all 0.3s ease-in-out;
  }

  main .container-profile {
    padding: 1rem;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .foto-portofolio {
    margin-bottom: 2rem;
  }

  .profile h1 {
    font-size: 28px;
  }

  .profile p {
    font-size: 16px;
  }

  .about-section p {
    font-size: 13px;
  }

  .project-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .project-item {
    width: 80%;
    height: 80%;
    margin-bottom: 1rem;
  }

  .skills ul {
    gap: 0.5rem;
    margin-bottom: 10px;
  }

  .skills ul li img {
    width: 90px;
    height: 90px;
  }
}
